<!doctype html>
{#
O esquema de template usado pelo flask é o Jinja
Basicamente tudo que está entre "{{  }}" é reconhecido como Python
Controle de fluxo como if, while, for, etc... ficam entre "{%  %}"
É possivel criar blocos que são sobrescritos em paginas filhas ({% block nome_do_bloco%}{% endblock %})
	Nessa pagina base, outras paginas irão extender suas funcionalidades. Temos os blocos
	- title 
	- header
	- content
O objeto g é reconhecido nos templates
url_for, que também já foi explicado o que é, também está disponivel
A funcao get_flashed_messages recupera o que foi registado com a funcao flash(), no caso de nossas views 
de autenticacao, foi registrado os erros do 
#}
<title>{%block title%}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
	<h1>Flaskr</h1>
	<ul>
		{% if g.user %}
			<li><span>{{ g.user['usename'] }}</span></li>
			<li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
		{% else %}
			<li><a href="{{ url_for('auth.register') }}">Register</a></li>
			<li><a href="{{ url_for('auth.login') }}">Login</a></li>
		{% endif %}
	</ul>
</nav>
<section class="content">
	<header>
		{% block header %}{% endblock %}
	</header>
	{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div>
	{% endfor %}
	{% block content %}{% endblock %}
</section>